@use "@/styles/variables" as *;

@mixin flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  @include flexCenter;
  position: absolute;
  top: 0;
  left: 0;
  width: 100svw;
  height: 100svh;

  &.isHidden {
    opacity: 0;
    pointer-events: none;
  }
}

.content {
  @include flexCenter;
  position: relative;
  width: 100%;
  max-width: 1580px;
  height: 100%;

  &.dark {
    .nextPrevButton {
      color: $white;
    }
    button {
      color: $white;
      border-bottom: 1px solid $white;
    }
  }
}

.tracesContainer {
  @include flexCenter;
  position: relative;
  z-index: 2;
  width: 90%;
  &:hover {
    .trace {
      color: $neutral;
    }
  }
  &.dark {
    &:hover {
      .trace {
        color: $neutral-dark;
      }
    }
    .trace {
      color: $white;
      &:hover {
        color: $white;
      }
    }
  }
  &.isActive {
    .trace {
      pointer-events: none;
      cursor: default;
      &:hover {
        .traceText {
          padding-right: 0;
        }
      }
    }
  }
  .trace {
    position: absolute;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    transition: color 0.4s ease-in-out;
    cursor: pointer;
    color: $black-dark;
    will-change: transform;

    &:hover {
      color: $black-dark;
      .traceText {
        padding-right: 0.5rem;
      }
    }

    .traceText {
      width: 100%;
      height: fit-content;
      display: flex;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      padding-block: 0.5rem;
      transition: padding-right 0.3s ease-in-out;

      white-space: nowrap;
      .number {
        font-size: clamp(0.675rem, 0.5rem + 1.75vw, 1.15rem);
        align-self: start;
      }
      .text {
        font-size: clamp(1rem, 1.3rem + 1.75vw, 2.8rem);
        text-transform: uppercase;
        font-family: $font-cinzel;
      }
    }
  }
}

.nextPrevButton {
  position: absolute;
  top: calc(10% + 1.25rem);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  font-size: 3rem;
  color: $black-dark;
  z-index: 10;

  @media (min-width: $sm) {
    width: min(50%, 150px);
  }
}

.backButton {
  @include flexCenter;
  position: absolute;
  top: calc(5% + 0.8rem);
  left: clamp(1.7rem, 5.5%, 15rem);
  z-index: 2;

  @media (min-width: $md) {
    top: calc(5% + 0.3rem);
  }

  button {
    border: none;
    color: $black-dark;
    border-bottom: 1px solid $black-dark;
    padding-bottom: 0.2rem;
    background-color: transparent;
    font-size: clamp(0.775rem, 0.1rem + 1.75vw, 1.15rem);
    font-family: $font-cinzel;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.aboutContainer {
  position: absolute;
  z-index: 0;
  inset: 0;
}
