@use "@/styles/variables" as *;
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: fit-content;
  width: 100svw;
  position: relative;

  .disk {
    @include flex-center;
    width: 10rem;
    border-radius: 10rem;
    aspect-ratio: 1;

    span {
      font-size: 1.2rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }
}

.titleContainer {
  @include flex-center;
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 3;

  @media (min-width: $md) {
    position: sticky;
    top: 0;
  }

  h1 {
    position: absolute;
    right: 50%;
    transform: translate(50%, 50%);
    color: $black-intense;
    text-transform: uppercase;
    font-size: 3.5rem;
    line-height: 0.8;
    font-weight: 100;

    @media (min-width: $md) {
      font-size: clamp(3.5rem, 7vw + 0.5rem, 6.3rem);
    }
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
  width: 100%;
  height: 100%;
  background-color: $cream-dark;
  padding-block: 6.675rem;
  @media (min-width: $lg) {
    padding-block: 22.675rem;
    padding-inline: 8.675rem;
  }
}
