$accent-light: #dfdff2;
$accent-pink: #ff6f61;

$arcane-pink: #c71585;
$arcane-purple: #b376ec;
$arcane-blue: #b0e0e6;
$arcane-white: #c1c1ba;

$beige-light: #ffebb7;
$beige-transparent: #ffd70099;
$beige-title: #d6b600;
$beige-dark: #c4a84a;
$beige-background: #f5f5dc;
$beige-dark-transparent: #c4a84a99;
$beige-fadedBrown: #7a7454;

$cream: #f4e7e1;
$cream-dark: #ead8c0;

$blue-50: #eff6ff;

$black: #000000;
$black-light: #141414;
$black-lighter: #1d1d1d;
$black-dark: #0a0a0a;
$black-intense: #0d0d0d;

$brown: #ca7842;

$green: #4f7942;
$sage-green: #b2ac88;
$celadon: #8a9a5b;

$gray: #a9a9a9;

$neutral: #808080;
$neutral-light: #f0f0f0;
$neutral-dark: #333333;

$orange: #d6a77a;
$orange-500: #d5451b;
$orange-dark: #521c0d;

$red-netflix: #e50914;
$red-opache: #ff4c4c;

$white: #ffffff;
$white-dark: #d0d0d0;
$white-dark-transparent: #d0d0d099;

//todo fontes

$font-circular: "circular-web", sans-serif;
$font-general: "general", sans-serif;
$font-robert-medium: "robert-medium", sans-serif;
$font-robert-regular: "robert-regular", sans-serif;
$font-zentry: "zentry", serif;
$font-lora: "lora", serif;
$font-lora-italic: "lora-italic", serif;
$font-cinzel: "cinzel", serif;
$font-cinzel-decorative: "cinzelDecorative-regular", serif;
$font-playfair: "playfair", serif;
$font-playfair-italic: "playfair-italic", serif;

//todo breakpoints

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;
