$accent-light: #dfdff2;
$accent-pink: #FF6F61;

$arcane-pink: #C71585;
$arcane-purple: #b376ec;
$arcane-blue: #b0e0e6;
$arcane-white: #c1c1ba;

$beige: #FFD700;
$beige-light: #FFEBB7;
$beige-transparent: #FFD70099;
$beige-title: #d6b600;
$beige-dark: #C4A84A;
$beige-background: #F5F5DC;
$beige-dark-transparent: #C4A84A99;
$beige-fadedBrown: #7a7454;

$blue-50: #eff6ff;

$black: #000000;
$black-light: #141414;
$black-lighter: #1D1D1D;
$black-dark: #0a0a0a;
$black-intense: #0D0D0D;

$green: #4F7942;
$sage-green: #B2AC88;
$celadon: #8A9A5B;

$gray: #A9A9A9;

$neutral: #808080;
$neutral-light: #F0F0F0;
$neutral-dark: #333333;

$orange: #D6A77A;

$red-netflix: #E50914;
$red-opache: #FF4C4C;

$white: #FFFFFF;
$white-dark: #D0D0D0;
$white-dark-transparent: #D0D0D099;

$font-circular: "circular-web", sans-serif;
$font-general: "general", sans-serif;
$font-robert-medium: "robert-medium", sans-serif;
$font-robert-regular: "robert-regular", sans-serif;
$font-zentry: "zentry", serif;
$font-lora: "lora", serif;
$font-lora-italic: "lora-italic", serif;
$font-cinzel: "cinzel", serif;
$font-cinzel-decorative: "cinzelDecorative-regular", serif;
$font-playfair: "playfair", serif;
$font-playfair-italic: "playfair-italic", serif;

$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;
$xxl: 1536px;