* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: auto !important;
  min-height: 100%;
  overflow-anchor: none;
}

::-webkit-scrollbar {
  width: 5px;
  background: #f4e7e1;
}

::-webkit-scrollbar-thumb {
  width: 7px;
  background: #7a7454;
  border-radius: 12px;
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, scale, clip-path;
  z-index: 1;
}

::view-transition-new(root) {
  z-index: 2;
  animation: none !important;
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}

body {
  overflow-x: hidden;
  background-color: #ead8c0;
}

body.overflow-hidden {
  overflow: hidden;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@layer base {
  @font-face {
    font-family: "circular-web";
    src: url("/fonts/circularweb-book.woff2") format("woff2");
  }

  @font-face {
    font-family: "general";
    src: url("/fonts/general.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-medium";
    src: url("/fonts/robert-medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "robert-regular";
    src: url("/fonts/robert-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "zentry";
    src: url("/fonts/zentry-regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "lora";
    src: url("/fonts/lora.woff2") format("woff2");
  }

  @font-face {
    font-family: "lora-italic";
    src: url("/fonts/lora-italic.woff2") format("woff2");
  }

  @font-face {
    font-family: "cinzel";
    src: url("/fonts/cinzel.woff2") format("woff2");
  }

  @font-face {
    font-family: "cinzelDecorative-regular";
    src: url("/fonts/CinzelDecorative-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "cinzelDecorative-bold";
    src: url("/fonts/CinzelDecorative-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "cinzelDecorative-black";
    src: url("/fonts/CinzelDecorative-Black.woff2") format("woff2");
  }

  @font-face {
    font-family: "playfair";
    src: url("/fonts/PlayfairDisplay-VariableFont_wght.woff2") format("woff2");
  }

  @font-face {
    font-family: "playfair-italic";
    src: url("/fonts/PlayfairDisplay-Italic-VariableFont_wght.woff2")
      format("woff2");
  }
}
