@use "src/styles/variables.scss" as *;

.container {
  height: 100dvh;
  width: 100%;

  overflow-y: auto;
  scrollbar-width: none;

  position: relative;

  padding-top: 7rem;
  padding-bottom: 60dvh;

  &.active {
    overflow-y: hidden;
  }

  &.hidden {
    pointer-events: none;
  }
}

.closeButton {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: min(100%, 1280px);
  margin-top: 1.96rem;
  padding-inline: 0.5rem;
  pointer-events: none;
  z-index: 3;

  .arrowIcon {
    font-size: 0.75rem;
  }

  @media(min-width: 768px) {
    margin-top: 1.781rem;
  }

  @media(min-width: 1280px) {
    padding-inline: 0;
  }
}

.episodesContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 4rem;

  @media (min-width: 768px) {
    gap: 8rem;
  }
}

.episodes {
  position: relative;

  cursor: pointer;
  overflow: hidden;
  border-radius: 0.5rem;

  flex-shrink: 0;

  &.active {
    will-change: width, height;
    pointer-events: none;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;

  filter: brightness(0.8);
}

.episode {
  position: absolute;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-inline: 0.5rem;

  .content {
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;

    padding-top: 2rem;

    .text {
      width: fit-content;
      height: fit-content;

      color: $arcane-white;
      background-color: $black-dark;
      border-radius: 0.75rem;

      padding: 0.5rem;

      h2 {
        font-family: $font-lora;
        font-size: 0.975rem;
        line-height: 1rem;

        @media (min-width: 768px) {
          font-size: 0.875rem;
          line-height: 1.25rem;
        }

        @media (max-height: 500px) {
          font-size: 0.765rem;
        }
      }
    }
  }
}

.title {
  width: 100%;
  height: 50%;

  display: flex;
  justify-content: center;

  .text {
    width: fit-content;
    height: fit-content;

    overflow: hidden;

    text-align: center;

    h1 {
      font-family: $font-cinzel;
      font-size: 1.125rem;
      line-height: 1.5rem;
      text-transform: uppercase;
      color: $neutral-light;

      @media (min-width: 768px) {
        font-size: 1.5rem;
      }

      @media (max-height: 500px) {
        font-size: 0.865rem;
      }
    }
  }
}

.nextEpisode {
  position: fixed;
  top: 10%;
  left: 10%;

  background-color: $black-dark;
  color: $arcane-white;

  z-index: 3;
  
  
}
