@use "@/styles/variables" as *;

.container {
  width: 100svw;
  height: calc(200vh + 10rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  padding-top: 10rem;
}

.bar {
  width: 1.265rem;
  height: 100%;
  border-radius: 2rem;
  overflow: hidden;

  .barProgress {
    width: 100%;
  }
}

.piltover {
  font-family: $font-cinzel;
  color: $orange;
  font-weight: 100;
  text-transform: uppercase;
  font-size: clamp(3rem, 10vw, 9rem);
}
